<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

  <Product Name='FLAC Frontend' Id='FF72CEDB-F08D-4070-B5B5-8966B4BC4CCB' UpgradeCode='BE441FF1-7C48-4A53-80FC-E7A8DB9E1821'
    Language='1033' Codepage='1252' Version='2.0.2' Manufacturer='Xiph.org'>

    <Package Id='*' Keywords='Installer' Description="FLAC Frontend Installer"
      Manufacturer='Xiph.org' InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />
      
    <Media Id='1' Cabinet='youShouldntSeeThis.cab' EmbedCab='yes' DiskPrompt='Something went wrong here...' />
    <Property Id='DiskPrompt' Value="Something went wrong here..." />
    
    <PropertyRef Id="NETFRAMEWORK20"/>
    <PropertyRef Id="NETFRAMEWORK40CLIENT"/>
    <Condition Message='This setup requires at least .NET Framework 2.0. Please install it and try again'>
      <![CDATA[NETFRAMEWORK20 OR NETFRAMEWORK40CLIENT]]>
    </Condition>
    
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
	<Directory Id='INSTALLDIR' Name='FLAC Frontend'>
	  <Component Id='FLACFrontend4' Guid='3C57A62F-CE12-4B85-AC96-ED7660258010'>
	    <File Id='FLACFrontendEXE4' Name='FLAC frontend-NET40.exe' DiskId='1' Source='../release/FLAC frontend-VS2012.exe' KeyPath='yes'>
	      <Shortcut Id="startmenuFLACFrontend4" Directory="ProgramMenuDir" Name="FLAC Frontend" Icon="flac.ico" WorkingDirectory="INSTALLDIR" Advertise="yes" />
	    </File>
	    <Condition>NETFRAMEWORK40CLIENT</Condition>
	  </Component>
	  <Component Id='FLACFrontend2' Guid='A9BF898D-5772-45B6-B773-5FC46EEE9C10'>
	    <File Id='FLACFrontendEXE2' Name='FLAC frontend-NET20.exe' DiskId='1' Source='../release/FLAC frontend-VS2005.exe' KeyPath='yes'>
	      <Shortcut Id="startmenuFLACFrontend2" Directory="ProgramMenuDir" Name="FLAC Frontend" Icon="flac.ico" WorkingDirectory="INSTALLDIR" Advertise="yes" />
	    </File>
	    <Condition>NETFRAMEWORK20 AND NOT NETFRAMEWORK40CLIENT</Condition>
	  </Component>
	  <Component Id="FLAC" Guid='0DB44C1A-793A-4ECC-B2F4-1C594E1D5F15'>
	    <File Id='FLACEXE' Name='flac.exe' DiskId='1' Source='../release/flac.exe' KeyPath='yes' />
	  </Component>
	  <Component Id="metaflac" Guid='F92C6203-1C05-425A-8189-A478776AC929'>
	    <File Id='metaflacEXE' Name='metaflac.exe' DiskId='1' Source='../release/metaflac.exe' KeyPath='yes' />
	  </Component>
	  <Component Id="readme" Guid='FE905A95-84CA-45FE-841A-F275E9507308'>
	    <File Id='readmeTXT' Name='README.txt' DiskId='1' Source='../README.txt' KeyPath='yes'>
     	      <Shortcut Id="startmenuREADME" Directory="ProgramMenuDir" Name="README" Advertise="yes" />
	    </File>
	  </Component>
	  <Component Id="GPL" Guid='B3B8D246-38CB-4F79-8182-739F69B7BB50'>
	    <File Id='GPLTXT' Name='COPYING.GPL.txt' DiskId='1' Source='../COPYING.GPL.txt' KeyPath='yes' />
	  </Component>
	</Directory>
      </Directory>
	<Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="FLAC Frontend">
          <Component Id="ProgramMenuDir" Guid="4BAFFBE4-B323-4B5F-BFCB-E2CCA46CCFA0">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\FLAC Frontend' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    
    <Feature Id='Complete' Level='1'>
      <ComponentRef Id='FLACFrontend2' />
      <ComponentRef Id='FLACFrontend4' />
      <ComponentRef Id='FLAC' />
      <ComponentRef Id='metaflac' />
      <ComponentRef Id='ProgramMenuDir' />
      <ComponentRef Id='readme' />
      <ComponentRef Id='GPL' />
    </Feature>

    <Icon Id="flac.ico" SourceFile="../FLAC frontend/app.ico" />
    
    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="COPYING.GPL.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="frontdialog.bmp" />

    <MajorUpgrade Schedule="afterInstallInitialize" AllowDowngrades="yes" />
    
  </Product>
</Wix>